.login-from{
    text-align: center;
    margin-top: 100px;
    background-color: rgb(234, 239, 239);
    height: 420px;
    width: 500px;
    padding: 10px;
    border-radius: 10px 100px / 120px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  input{
    width: 200px;
    height: 30px;
  }
  
  #sign-up{
    margin-top: 40px;
  }
  
  #err{
    margin-top: 20px;
    color: brown;
  }